.todoForm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1000px;
  min-height: 500px;
  background: white;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding: 20px 0;
}

.border {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
}
